.DS_Store

# frontend
frontend/node_modules/

# backend
__pycache__/
backend/app/data/
backend/app/dataService/cache/
cache
*.pyc

# jupyter
.ipnb_*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?