<div class="p rowchild" style="width: 75%;">

    <span class="align-self-center" style="margin-right:5px;">
        <h6>Query:</h6>
    </span>
    <div style="width:95%">
        <div class="input-group" style="font-size:14px;">
            <input type="text" class="form-control" v-model="userText" placeholder="show me the film with the largest cost." style="font-size:14px;" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-sm speaker" type="button"><i class="fas fa-microphone"></i></button>
                <button class="btn btn-outline-secondary btn-sm" type="button" v-on:click="search">Search</button>
            </div>
        </div>
    </div>
</div>