<div id="resultview">
    <div class="card">
        <div class="card-block" id="resultContainer">
            <el-collapse v-model="activeNames">
                <el-collapse-item title="You may want to ask:" name="1">
                    <div class="recommend">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action rowitem">
                              Cras justo odio
                            </a>
                            <a class="list-group-item list-group-item-action rowitem">Dapibus ac facilisis in</a>
                            <a class="list-group-item list-group-item-action rowitem">Morbi leo risus</a>
                            <a class="list-group-item list-group-item-action rowitem">Porta ac consectetur ac</a>
                            <a class="list-group-item list-group-item-action rowitem">Vestibulum at eros</a>
                        </div>
                    </div>
                </el-collapse-item>
                <el-collapse-item title="SQL results and explanations" name="2">
                    <div class="rowitem">
                        <el-tag type="success">SQL</el-tag> {{nl}}</div>
                    <div class="rowitem">
                        <el-tag type="success">NL Explanation</el-tag>
                        <span class="explanation-container" v-html="explanation"></span>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <div id="sql-result" style="margin-top:5px;">
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Select </el-tag>
                    <div class="rowitem" v-for="(selectUnit, index) in selectDecoded">
                        <SelectToken :selectUnit=selectUnit :tables=tables />
                    </div>
                </div>
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Groupby </el-tag>
                </div>
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Filters </el-tag>
                    <div class="rowitem" v-for="(condUnit, index) in whereDecoded">
                        <CondUnitToken :condUnit=condUnit :tables=tables />
                    </div>
                </div>
            </div>
            <div id="vegaLiteContainer">
                <div class="vis-container" v-for="(spec, index) in vlSpecs" style="pointer-events: none;">
                    <vega-lite :spec="spec"></vega-lite>
                </div>
            </div>
        </div>
    </div>
</div>