<div id="resultview">
    <!-- <div class="card"> -->
    <div class="card-block" id="resultContainer">
        <el-collapse>
            <el-collapse-item title="You may also want to ask:" name="1">
                <div class="recommend">
                    <div v-for="(nl, nlidx) in qSugg">
                        <a class="recommend-item " v-on:click="selectQuery(nlidx)">
                            <span style="margin: 0px 5px;">{{nl}}</span>
                        </a>
                    </div>
                </div>
            </el-collapse-item>
            <el-collapse-item title="SQL results and explanations" name="2">
                <div class="rowitem">
                    <el-tag type="success">SQL</el-tag> {{nl}}</div>
                <div class="rowitem">
                    <el-tag type="success">NL Explanation</el-tag>
                    <span class="explanation-container" v-html="explanation"></span>
                </div>
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Select </el-tag>
                    <div class="rowitem" v-for="(selectUnit, index) in selectDecoded">
                        <SelectToken :selectUnit=selectUnit :tables=tables />
                    </div>
                </div>
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Groupby </el-tag>
                </div>
                <div class="rowitem">
                    <el-tag type="info" effect="plain">Filters </el-tag>
                    <div class="rowitem" v-for="(condUnit, index) in whereDecoded">
                        <CondUnitToken :condUnit=condUnit :tables=tables />
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
        <div id="vegaLiteContainer">
            <div v-for="(qRet, index) in queryReturns">
                <div class="vis-container" v-if="qRet[1] === 'vega-lite'">
                    <VegaLiteChart :vlSpecs="qRet[0]" :innerKey="0" />
                </div>
                <div class="vis-container" v-else-if="qRet[1] === 'table'">
                    <template>
                    <el-table :data="qRet[0]"
                            style="width: 100%">
                        <el-table-column v-for="column in Object.keys(qRet[0][0])" 
                                            :key="column"
                                            :prop="column"
                                            :label="column"
                                            :min-width="150">
                        </el-table-column>
                    </el-table>
                </template>
                </div>
                <div class="vis-container" v-else-if="qRet[1] === 'data'">
                    <span class="result-text">{{qRet[0]}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>