<div id="settings">
    <!-- <div class="card"> -->
    <div class="card-block" id="settingsContainer" style="margin: 10px">
        <el-tabs v-model="activeIdx" type="card">
            <el-tab-pane label="Tables" name="0">
                <div id="databaseMeta">
                    <el-tree :data="treedata" :props="defaultProps" default-expand-all :render-content="renderContent" />
                </div>
            </el-tab-pane>
            <el-tab-pane label="History Queries" name="1">
                <div id="logicFlow" style="overflow-y:scroll;"></div>
            </el-tab-pane>
        </el-tabs>
    </div>
    <!-- </div> -->
</div>